doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    script(src="//use.typekit.net/cii0oya.js")
    script try{Typekit.load();}catch(e){}
    title MadJS &bull; JavaScript User Group in Madison, Wisconsin
    link(rel="stylesheet", type="text/css", href="main.css")
    meta(name="viewport", content="width=device-width")
  body
    header
      img(class="logo", src="madjs-logo.png", alt="MadJS Logo")
    main
      section.summary
        .container
          h1 JavaScript User Group in Madison, Wisconsin
          p
            | We hold meetings on the second Monday of every month, plus framework specific meetings when there's interest.
            | If you'd like to present, sponsor, or have any questions, please email <a href="mailto:eric.sorenson@dubharmonic.com">Eric Sorenson</a>.
            | Follow us on <a href="http://www.meetup.com/MadisonJS/">Meetup</a>, <a href="https://twitter.com/MadJavaScript">Twitter</a>, <a href="https://www.youtube.com/channel/UCpUgdv1HDGlc0UKm3nIhLPA">YouTube</a> and <a href="https://github.com/MadJS">GitHub</a> for news and announcements!
      section.conference
        .container
          h1 Upcoming Events
          .meetup-details
            h2 None found
      section.summary
        .container
          .thing
            .description
              h1 MadJS Shirts
              p Shirts in many different styles and colors can be purchased from our shop at <a href="http://skreened.com/madjs/madjs-logo">Skreened</a>.
            img.picture(src="shirt.jpg", alt="MadJS Shirt")
      section.conference
        .container
          .thing
            .description
              h1 MidwestJS
              p
                | <a href="http://midwestjs.com/">Midwest JS</a> is a premier technology conference focused on the JavaScript ecosystem.
                | The conference will be held for the first time in downtown Minneapolis at the University of St Thomas on August 14th &amp; 15th, 2014.
            img.picture(src="midwestjs-logo-400.png", alt="MidwestJS Conference Logo")
    footer &copy; 2014 MadJS
    script(src="//code.jquery.com/jquery-2.0.3.min.js")
    script(src="main.js")
