html
  font-family: "proxima-nova-1","proxima-nova-2", Helvetica, Arial
  font-size: 100%

body
  margin: 0

h1
  font-size: 2em
  line-height: 1.618em
  font-weight: 400
  margin: 0 0 14px 0

h2
  font-size: 1.5em
  line-height: 1.618em
  font-weight: 400
  margin: 0

p
  font-size: 1.2em
  font-weight: 400
  line-height: 1.618em
  margin: 0 0 14px 0

a
  color: inherit;

header
  text-align: center
  background: url('group_blur.jpg')
  background-position: center
  padding: 3em

section
  padding: 3em

footer
  background: #2E2E2B
  color: #F9DC3C
  text-align: center
  padding: 3em

.logo
  height: 10em

.container
  max-width: 50em
  margin: auto

.summary
  background: #FFF

.shirts
  background: #282141

.conference
  color: #FFF
  background: #923848

.events
  background: #FFF

.thing
  display: flex

.description
  padding-right: 1em
  height: 25em
  width: 25em

.picture
  height: 25em
  width: 25em

.contact
  background: #F9DC3C
  text-align: center
