* {
  margin: 0;
  padding: 0;
}

html {
  background: #2E2E2B;
  font-family: Helvetica, Arial;
  color: #2E2E2B;
}

h1 {
  font-size: 2em;
  margin: 0 0 1em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

p {
  font-size: 1.2em;
  /*margin: 0 0 1em 0;*/
}

a {
  color: inherit;
}

header {
  text-align: center;
  background: url('group_blur.jpg');
  background-position: center;
}

footer {
  color: #F9DC3C;
  text-align: center;
}

header, section, footer {
  padding: 4em;
}

.logo {
  height: 10em;
}

.summary {
  background: #F9DC3C;
}

.shirts {
  background: #282141;
}

.conference {
  background: #923848;
}

.contact {
  background: #F9DC3C;
  text-align: center;
}

.button {
/*  margin: 1em;
  padding: 1em;
  background: #2E2E2B;*/
  border-radius: 1em;
  /*color: #F9DC3C;*/

        border: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: none;
        cursor: pointer;
        padding: 25px 80px;
        display: inline-block;
        margin: 15px 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;



          background: #cb4e4e;
        color: #fff;
        box-shadow: 0 6px #ab3c3c;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
}

.button:hover {
        box-shadow: 0 4px #ab3c3c;
        top: 2px;
}

.button:active {
        box-shadow: 0 0 #ab3c3c;
        top: 6px;
}